body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0862df;
}

header {
    background-color: #0de277;
    color: #8407de;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

section {
    padding: 20px;
    background-color: #c10f0f;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination {
    margin-bottom: 20px;
}

h2 {
    color: #c4e910;
    font-size: 24px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    color: #07f948;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
